<div class="container">
    <div class="card">
        <div class="card-body">
            <h1 class="text-center text-uppercase">Danh sách phòng ban</h1>
        </div>
    </div>
    <div class="card">
        <div class="card-body table-responsive-lg">
            <table class="rounded  table " id="department-table ">
                <thead>
                    <tr>
                        <th style="border-top: None;" class="text-center">ID</th>
                        <th style="border-top: None;">Tên phòng ban</th>
                        <th style="border-top: None;">Mô tả</th>
                        <th style="border-top: None;">Trưởng phòng</th>
                    </tr>
                </thead>
                <tbody id="department-table-body">
                    <!-- let js do its job -->
                <tbody>
            </table>
        </div>
    </div>
</div>