<div class="mt-5 pt-5">
    <div class="row align-items-center justify-content-center h-100">
        <div class="col-md-10 col-lg-8">
            <div class="card overflow-hidden">
                <div class="bg-primary">
                    <div class="p-4">
                        <h2 class="mb-4 text-white">Đổi mật khẩu mới</h2>
                        <form method="POST" onsubmit="return userChangePassword()">
                            <div class="row">
                                <div class="col-lg-12 mb-2">
                                    <div class="form-group">
                                        <input readonly value="{{ user.get('full_name', 'Unknown') }}" class="form-control" id="username" name="username" type="text" placeholder=" ">
                                        <label class="floating-label" for="username">Tên người dùng</label>
                                    </div>
                                </div>
                                <div class="col-lg-12 mb-2">
                                    <div class="form-group">
                                        <input class="form-control" id="oldPassword" name="oldPassword" type="password" placeholder=" ">
                                        <label class="floating-label" for="oldPassword">Mật khẩu cũ</label>
                                    </div>
                                </div>
                                <div class="col-lg-12 mb-2">
                                    <div class="form-group">
                                        <input class="form-control" id="newPassword" name="newPassword" type="password" placeholder=" ">
                                        <label class="floating-label" for="newPassword">Mật khẩu mới</label>
                                    </div>
                                </div>
                                <div class="col-lg-12 mb-2">
                                    <div class="form-group">
                                        <input class="form-control" id="newPassword_confirm" name="newPassword_confirm" type="password" placeholder=" ">
                                        <label class="floating-label" for="newPassword_confirm">Nhập lại mật khẩu mới</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div id="responseMessage" role="alert">
                                    </div>
                                </div>
                                <div class="col-12 text-right">
                                    <button type="submit" class="btn btn-white px-3">Đổi mật khẩu</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>